.button.back-button
    margin-right 2.333rem

@media only screen and (max-width: 450px)
    .button.back-button.white
            background-color #333333 
            border: 2px solid #333333
            color: white
    .button
        width 100%
        .frame
            svg
                width 98%
        .back-button
            margin-bottom: 0.5rem;
            margin-right: 0;


        &.black
            width 100%
            margin 0 auto

@media only screen and (max-height: 450px)
    .button 
        .frame
            svg
                width 99%
        &.black
            width: 100%;
            margin: auto;

.isBackButtonDisabled
    pointer-events none
    cursor default